@font-face {
    font-family: MinecraftSGA;
    src: url('../font/minecraft-sga.ttf');
}

@font-face {
    font-family: MinecraftBold;
    src: url('../font/minecraft-bold.otf');
}

:root {
    --font-sga: 'MinecraftSGA';
    --font-bold: 'MinecraftBold';
}

.hidden {
    display: none;
}

body {
    display: flex;
    flex-direction: column;
    font-family: var(--font-bold);
    font-size: 3em;
    font-weight: 700;
    background-color: #161616;
    color: #f0f0f0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.show-hide-chat {
    font-size: 0.5em;
    border: #f0f0f0 1px solid;
    padding: 0 1em;
    cursor: pointer;
}

.twitch-view {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
}

.twitch-player {
    margin: 1em;
    display: flex;
    flex-direction: row;
}

.highlight-text-red {
    text-transform: uppercase;
}

.highlight-text-red:hover {
    color: #f03030;
    text-transform: uppercase;
    cursor: not-allowed;
}

.title-1 {
    margin: 0.25em 0;
}

/* Footer */

.footer {
    text-align: center;
    margin: 20px 120px;
}

.footer__text {
    font-family: 'Courier New', Courier, monospace;
    color: var(--secondary-gray);
    font-size: 0.8rem;
    font-weight: 400;
    margin-top: 1em;
}