@font-face {
    font-family: 'Corbel';
    src: url('../font/CORBELB.TTF');
}

/* Default Styles */
:root {
    --background-color: #040407;
    --text-color-white: #f0f0f0;
    --font-albiona: "albiona", sans-serif;
    --font-corbel: 'Corbel', sans-serif;
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateY(50%);
    transition:all 1s;
}
.shown {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
}

body {
    width: 100vw;
    color: var(--text-color-white);
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Main Section Style */

.main-section {
    background: rgb(39,50,90);
    background: linear-gradient(180deg, rgba(39,50,90,1) 0%, rgba(4,4,7,1) 100%);
    background-repeat: no-repeat;
}

.presentation {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.presentation--title {
    font-family: var(--font-albiona);
    font-size: 6em;
    font-weight: 200;
}

.presentation--subtitle {
    font-family: var(--font-corbel);
    font-size: 3em;
}

.presentation--stonkscity-logo {
    width: 60%;
    margin-top: 10px;
}

/* For screens smaller than 800px */
@media (max-width: 800px) {
    .presentation {
        width: 70%; /* Increase width to give more space */
    }

    .presentation--subtitle {
        font-size: 2em; /* Decrease font size even more */
    }

    .presentation--title {
        font-size: 4em; /* Decrease font size even more */
    }
}

/* For screens smaller than 500px */
@media (max-width: 500px) {
    .presentation {
        width: 90%; /* Increase width even more */
    }

    .presentation--subtitle {
        font-size: 1.5em; /* Decrease font size even more */
    }

    .presentation--title {
        font-size: 3em; /* Decrease font size even more */
    }
}

/* About Section */

.about {
    background-color: var(--background-color);
    font-family: var(--font-corbel);
}