@font-face {
    font-family: MinecraftSGA;
    src: url('../font/minecraft-sga.ttf');
}

@font-face {
    font-family: MinecraftBold;
    src: url('../font/minecraft-bold-fixed.otf');
}

:root {
    --font-sga: 'MinecraftSGA';
    --font-bold: 'MinecraftBold';
}

body {
    display: flex;
    flex-direction: column;
    font-family: var(--font-bold);
    background-color: #161616;
    color: #f0f0f0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.text-bold {
    font-family: var(--font-bold);
}

.text-sga {
    font-family: var(--font-sga);
}

.title {
    font-size: 5em;
}

.subtitle {
    font-size: 1.5em;
}